<?xml version="1.0"?>
<launch>
    
<!-- Launch imu_mpu6050 node -->
<node pkg="imu_rtimulib" type="imu_rtimulib_node" name="imu_node" output="screen">
    <param name="calibration_file_path" value="$(find imu_rtimulib)/config"/>
    <param name="calibration_file_name" value="imu_mpu6050" />
    <param name="frame_id" value="imu"/>
</node>

</launch>
